{% import 'chart_assist.html' as cht %}
{% import 'dashboard_sidebar.html' as sidebar %}
{% extends "layout_dashboard.html" %} {% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
         {{dept.name}}
        <small>Budget Tracker</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol>
    </section>
        <!-- Main content -->
<section class="content container-fluid">
  <!-- fix for small devices only -->
  <div class="clearfix visible-sm-block"></div>
<div class="row">
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Spend by Month</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
          <div class="btn-group">
            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-wrench"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-12" height='500px'>
            
                <div id="budget_chart_header_spacer">
                  <canvas id="budget_norm" height="100%"></canvas>
                </div>
            <!-- /.chart-responsive -->
          </div>

        </div>
        <!-- /.progress-group -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  
    <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Cumulative Spend vs Budget</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
          <div class="btn-group">
            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-wrench"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-12" height='500px'>
            
                <div id="budget_chart_header_spacer">
                  <canvas id="budget_cume" height="100%"></canvas>
                </div>
            <!-- /.chart-responsive -->
          </div>

        </div>
        <!-- /.progress-group -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">YTD Expense vs Annual Budget</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
          <div class="btn-group">
            <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-wrench"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
          <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
      </div>

      <!-- /.FIRST FULL ROW BOX -->
      <div class="box-body">
        <div class="row">
          <!-- /.LEFT SECTION IN BOX -->
          <div class="col-md-12">
              <div class="chart">
              <!-- Sales Chart Canvas -->
              <div id="budget">
                {{budget_line_table|safe}}
                
              </div>
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Spend by Vendor</h3>
        <div class="box-body table-responsive no-padding">
          <div>
                <!--vendor_detail|safe-->
                
                <table id="vendors" class="hover stripe">
                  
                </table>
          </div>
          
          
       
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END PASTE  -->

</div>
</div>
</section>
<!-- /.content -->
</div>
<!-- END PASTE  -->

<!--script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.js"></script-->
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/fixedcolumns/3.2.3/js/dataTables.fixedColumns.min.js"></script>
<script src="/static/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<script>
    //$.getJSON('/data/chartist', function(data, status) {});

//$(function() {
//function draw_chartjs() {

    var budget_url = "/client/{{sb.client}}/data/budget/" + "{{dept.id}}";
    //console.log(budget_url);
    var xhr = $.getJSON( budget_url, function( datas ) {
      
      $(document).ready(function() {
        var canvas_norm = document.getElementById("budget_norm").getContext('2d');
        var chart_js = new Chart(canvas_norm, {
        // The type of chart we want to create
              type: 'bar',
              // The data for our dataset
              data: datas.norm,
              options: {
                maintainAspectRatio: true,
                barOptions_stacked: true,
                borderWidth: 1,
                legend:false,
                spanGaps: true,
                //legend: {display: true, position: "right"},
                hover: {mode:'index'},
                tooltips: {         
                  mode: 'x',
                  position: 'nearest',
                  intersect: false,
                  callbacks: {
                    label: function(tooltipItem, data) {
                        var ylab = Math.round(tooltipItem.yLabel,0);
                        var grp = data.datasets[tooltipItem.datasetIndex].label
                        return grp + ": " + ylab.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        },
                  },
                },

                //backgroundColor = '#FFFFFF'
                scales: {
                  
                  xAxes: [{
                          display:true,
                          stacked:true,
                          //type: 'time',
                          //time: {
                          //  unit: 'month',
                          //  tooltipFormat: "MMM'YY",
                          //  displayFormats: {
                          //        month: "MMM'YY"
                          //    }
                          //  },
                          gridLines: {
                            display:true
                              }
                          }],
                  yAxes: [{  display:true,
                             stacked:true,
                  
                              gridLines: {
                                  display:true
                              },
                              ticks: {
                                  // Include a dollar sign in the ticks

                                  callback: function(value, index, values) {
                                      value = '$' + Math.round(value,0) / 1000;
                                      return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                  }
                              },
                              scaleLabel: {display:true, labelString:"$ thousands"}
                         }]
                     }}
                  });


        var canvas_cume = document.getElementById("budget_cume").getContext('2d');
        var chart_js_cume = new Chart(canvas_cume, {
        // The type of chart we want to create
              type: 'line',
              // The data for our dataset
              data: datas.cume,
              options: {
                maintainAspectRatio: true,
                barOptions_stacked: true,
                legend:false,
                spanGaps: true,
                //legend: {display: true, position: "top"},
                tooltips: { 
                  mode: 'x',
                  callbacks: {
                    label: function(tooltipItem, data) {
                        var ylab = Math.round(tooltipItem.yLabel,0);
                        var grp = data.datasets[tooltipItem.datasetIndex].label
                        return grp + ": " + ylab.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        },
                  },
                },
                //backgroundColor = '#FFFFFF'
                scales: {
                  xAxes: [{
                          display:true,
                          stacked:false,
                          //type: 'time',
                          //time: {
                          //  unit: 'month',
                          //  tooltipFormat: "MMM'YY",
                          //  displayFormats: {
                          //    month: "MMM'YY"
                          //  }
                          //},
                          gridLines: {
                            display:true,
                            //borderDash: [4, 2],
                          },

                          }],
                  yAxes: [{  display:true,
                             stacked:false,
                              gridLines: {
                                  display:true,
                                  //borderDash: [4, 4],
                                  //zeroLineBorderDash: [1]
                              },
                              ticks: {
                                  // Include a dollar sign in the ticks
                                  callback: function(value, index, values) {
                                      value = '$' + Math.round(value,0) / 1000;
                                      return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                  }
                              },
                              scaleLabel: {display:true, labelString:"$ thousands"}
                         }]
                     }}
                  });



        });
      
    });
      
//  };
</script>

<script>
$(function() {
  $(".spark-bullet").each(function () {
        var $this = $(this);
        $this.sparkline('html',
        {
            type:"bullet",
            disableInteraction:"True",
            width:"100px",
            height:"25px",
            targetWidth:"1",
            targetColor:"#111",
            performanceColor:"rgba(51, 110, 147, 1)",
            //range to represent committed | budget | overbudget-spent 
            rangeColors:['#ebf1f4','rgba(198,85,85,1)','rgba(51, 110, 147, 1)']
            
        })
      
  });
});
</script>

<script>
//$(document).ready(function() {
//    $('#vendors').DataTable();
//} );

$(document).ready(function() {
    var budget_url = "/client/{{sb.client}}/data/vendordetail/" + "{{dept.id}}";
    vendor_dt = $('#vendors').DataTable( {
        "ajax": {url: budget_url, dataSrc: ''},
        "autoWidth": false,
        "columns": [
            {
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            },
            { "data": "budget", "title": "Budget"},
            { "data": "vendor", "title": "Vendor" },
            {% for m in sb.fmonths %}
            { "data": "totals.{{m.date}}", "title": "{{m.period_name}}", "defaultContent": "", 
                      'render': $.fn.dataTable.render.number( ',', '.', 0, '$' ), 'className': "cell-border"},
            {% endfor %}
            ]
    } );
    $( ".dataframe tr").filter(":last").css({ "border-top": "2px", fontWeight: "bolder" });
} );

/* Formatting function for row details - modify as you need */
function format ( d ) {
    //console.log(d);
    var trs=''; //just a variable to construct
    $.each($(d.transactions),function(i, txn){
      
        trs+='<tr><td>'+d.transactions[i].date+'</td><td>'+d.transactions[i].ref_num+'</td><td>'+d.transactions[i].memo+'</td><td>'+d.transactions[i].amount+'</td></tr>';
        //loop through each product and append it to trs and am hoping that number of price 
        //values in array will be equal to number of products
    })
    // `d` is the original data object for the row
    return '<table class="table table-border table-hover">'+
           '<thead>'+
              '<th>Date</th>'+
              '<th>Ref</th>'+
              '<th>Memo</th>'+
              '<th>Amount</th>'+  
           '</thead><tbody>' 
               + trs +
        '</tbody></table>';
}


    $('#vendors').on('click', 'td.details-control', function () { //, 'td.details-control'
      //console.log('clicked');
        var tr = $(this).closest('tr');
        
        var row = vendor_dt.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );
  //"data": data,
</script>


<!--script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script-->
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.js"></script-->
<!--script src="{{ url_for('static', filename='dist/js/chartist-plugin-tooltip.min.js') }}"></script-->

{% endblock %}
