{% extends "layout_dashboard.html" %}


{% block content %}
<!-- Info boxes -->
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-red">
            <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Likes</span>
              <span class="info-box-number">41,410</span>
              <!-- The progress section is optional -->
              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
              <span class="progress-description">
                70% Increase in 30 Days
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Expenses Through</span>
            <span class="info-box-number">41,410</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix visible-sm-block"></div>


      
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Sales</span>
            <span class="info-box-number">760</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">New Members</span>
            <span class="info-box-number">2,000</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->




        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Monthly Recap Report</h3>
  
                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                  <div class="btn-group">
                    <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-wrench"></i></button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
                  <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="row">
                  <div class="col-md-8">
                    <p class="text-center">
                      Billed Usage vs T12 & T55
                    </p>
  
                    <div class="chart">
                      <!-- Sales Chart Canvas -->
                      <div id="usage_comparison" style="height: 280px;"></div>
                    </div>
                    <!-- /.chart-responsive -->
                  </div>
                  <div class="col-md-1">
                    <div id="usage_comparison_legend" style="height: 280px;"></div>
                  </div>
                  <!-- /.col -->
                  <div class="col-md-3">
                    <p class="text-center">
                      <strong>Goal Completion</strong>
                    </p>
  
                    <div class="progress-group">
                      <span class="progress-text">Add Products to Cart</span>
                      <span class="progress-number"><b>160</b>/200</span>
  
                      <div class="progress sm">
                        <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                      </div>
                    </div>
                    <!-- /.progress-group -->
                    <div class="progress-group">
                      <span class="progress-text">Complete Purchase</span>
                      <span class="progress-number"><b>310</b>/400</span>
  
                      <div class="progress sm">
                        <div class="progress-bar progress-bar-red" style="width: 80%"></div>
                      </div>
                    </div>
                    <!-- /.progress-group -->
                    <div class="progress-group">
                      <span class="progress-text">Visit Premium Page</span>
                      <span class="progress-number"><b>480</b>/800</span>
  
                      <div class="progress sm">
                        <div class="progress-bar progress-bar-green" style="width: 80%"></div>
                      </div>
                    </div>
                    <!-- /.progress-group -->
                    <div class="progress-group">
                      <span class="progress-text">Send Inquiries</span>
                      <span class="progress-number"><b>250</b>/500</span>
  
                      <div class="progress sm">
                        <div class="progress-bar progress-bar-yellow" style="width: 80%"></div>
                      </div>
                    </div>
                    <!-- /.progress-group -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Monthly Summary Data</h3>
                        <div>
                          <table id="dtexample" class="hover stripe">

                          </table>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
    <!-- END PASTE  -->
    <div class="row">
      <div class="col-md-6">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">Monthly Recap Report</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
              <div class="btn-group">
                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-wrench"></i></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <p class="text-center">
                  Usage in KWh
                </p>

                <div class="chart">
                  <!-- Sales Chart Canvas -->
                  <div id="morrischart" style="width: 100%; height: 100%"></div>
                </div>
                <!-- /.chart-responsive -->
              </div>
           
                </div>
                <!-- /.progress-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
        </div>
      </div>
    </div>                  
        <!-- END PASTE  -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.0.0/dygraph.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/fixedcolumns/3.2.3/js/dataTables.fixedColumns.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script type="text/javascript">
      $(function() {
      g = new Dygraph(
        document.getElementById("usage_comparison"),
        '/usage_comparison', 
        {
            //customBars: true,
            
            ylabel: 'KWh',
            strokeWidth: 2,
            //labelsSeparateLines: true,
            fillGraph: true,

            //labelsDiv: usage_comparison_legend,
            legend: 'follow',
            showRangeSelector: true
        })

      });
    </script>
        <script type="text/javascript">
          $(function() {
          g = new Dygraph(
            document.getElementById("usage_comparison"),
            '/usage_comparison', 
            {
                //customBars: true,
                
                ylabel: 'KWh',
                strokeWidth: 2,
                //labelsSeparateLines: true,
                //labelsDiv: usage_comparison_legend,
                legend: 'follow',
                showRangeSelector: true
            })
    
          });
    </script>
    <script>
      $(document).ready(function() {
       // var data = {{dt_data|tojson|safe}}
        $('#dtexample').DataTable( {
            //"ajax": '/sample_json'
            "data": {{ dt_data|tojson|safe }},
            "columns": {{ dt_cols|tojson|safe }},
            searching: false,
            //scrollCollapse: true,
            paging:         false,
            scrollX:        true,
            fixedColumns: {leftColumns: 1}
          } );
        } );
            //"data": data,
    </script>
<script>
  var chart_rec = new Morris.Bar({
    // ID of the element in which to draw the chart.
    element: 'morrischart',
    // Chart data records -- each entry in this array corresponds to a point on
    // the chart.
    // The name of the data record attribute that contains x-values.
    xkey: 'usage_month',
    // A list of names of data record attributes that contain y-values.
    ykeys: ['invoiced_mwh'],
    // Labels for the ykeys -- will be displayed when you hover over the
    // chart.
    labels: ['kwh'],
    stacked:true,
    barColors:['#2874a6','#17a589','#707b7c','#aab7b8','#a6acaf','#138d75'],
    barOpacity: 0.75,
    resize: true,
    redraw: true,
    hideHover: 'auto'
  
  });
  $.getJSON('/jsondata', function(data, status) {});
  $(function(){
    $.getJSON("./jsondata", function(data, status){
  console.log(data)
  chart_rec.setData(data)
      });
    });
  
    function loadDoc() {
      chart_rec.options.ykeys = ['revenue','kwh']
      chart_rec.options.labels = ['revenue','kwh']
      //chart_rec.setData(chart_rec.options.labels)
      chart_rec.setData(chart_rec.options.data)
    }
  </script>      
{% endblock %}